.image-container {
    position: relative;
    width: calc(80vw - 20px); /* Ширина: 80% ширины экрана минус отступы */
   height: auto; /* Высота автоматически подстраивается */
   max-width: 240px;
    margin: 0 auto 30px auto;
    cursor: pointer;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease;
  }
  
  .image-container img:active {
    transform: scale(0.95);
  }
  